<html>
<head>
<link href="../bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="../css/popup.css" type="text/css" rel="stylesheet">
</head>

<body>

<div id = "mainwindow">
        
    <div id = "input-text-show">
        <input id="input-text" type="text"></input>
    </div>

    <div id = "buttons">
        <button class="btn btn-danger" id="define-button" type="button">Define word</button>
        <button class="btn btn-dark" id="add-button" type="button">Add to Dictionary</button>
        <button id="go-to-options">Go to options</button>
        <button id="quiz-window">Open Quiz Window</button>
    </div>

    <div id = "output-text">
        <input id="output" type="text-area" readonly="yes" wrap="hard" placeholder="definition"></input>
    </div>
</div>

<!-- added jquery for the bootstrap library, raised an error otherwise -->
<!-- note that, for more extensive bootstrap functionality - a different jquery may need to be added. -->

<script src="../js/popup.js"></script>
<script src="../jquery/jquery-3.4.1.slim.min.js"></script>
<script src="../bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>


</body>

<footer>
</footer>
</html