<html>
<head>
<link href="../bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="../css/quiz.css" type="text/css">
</head>
<body>

<button id="startQuiz">click to start quiz</button>
<button id="stopQuiz">click to stop quiz</button>
<button id="nextCard">click for next Card</button>
<p id="whichCard"></p>
  <script src="../node_modules/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="../jquery/jquery-3.4.1.slim.min.js"></script>
  <script src="../bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
  <script src="../node_modules/@mojs/core/build/mo.min.js"></script>

  <script src="../js/quiz.js"></script>
</body>
</html>
