<html>
<head>
<link href="bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="quiz.css" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <div class="card card-1">
          <h3>Ionic Native</h3>
          <p>first card</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="card card-2">
          <h3>UI Components</h3>
          <p>second card</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="card card-3">
          <h3>Theming</h3>
          <p>third card</p>
        </div>
      </div>
    </div>
  </div>
  <script src="node_modules/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="jquery/jquery-3.4.1.slim.min.js"></script>
  <script src="bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
  <script src="quiz.js"></script>
</body>
</html>